<!-- <div class="table-responsive container">
  <h3>Users list:</h3>
  <table class="table table-bordered table-hover" style="width: 50%;">
    <thead> 
      <tr>
        <th style="width: 30%;">Name</th>
        <th style="width: 70%;">Email</th>
      </tr>
    </thead>
  <tbody>
        <tr *ngFor = "let user of users">
           <td>{{user.name}}</td> 
           <td>{{user.email}}</td>           
        </tr>
  </tbody>
  </table>
</div> -->

<jce-user-form (userAddedEvent) = "addUser($event)"></jce-user-form>
<jce-spinner [visible] = "isLoading" ></jce-spinner>
<div>
  <ul class="list-group users">
    <li *ngFor = "let user of users" 
        [class.active]="currentUser == user" 
        (click) = "select(user)"
        class="list-group-item">
       <jce-user [user] = "user" 
       (deleteEvent) = "deleteUser($event)"
       (editEvent) = "updateUser($event)"></jce-user>

          <ul>
          <li *ngFor = "let title of user.posTitles">
            {{(title | async)?.title}}
          </li>
        </ul> 

    </li>
  </ul>
</div>